@font-face {
    font-family: 'Roboto';
    src: url('https://raw.githubusercontent.com/Walkover-Web-Solution/giddh-node-pdf/master/public/fonts/roboto/Roboto-Regular.otf');
    font-weight: 400;
    font-style: normal;
}