@font-face {
    font-family: 'Roboto';
    src: url('https://raw.githubusercontent.com/Walkover-Web-Solution/giddh-node-pdf/master/public/fonts/roboto/Roboto-Bold.ttf');
    font-weight: 400;
    font-style: normal;
}